<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me Page</title>
</head>
<body>
    <h1> This is my about me page </h1>  <!-- This portion is my introduction for who I am practicing using headers -->
    <h2> My name is Ryan Zaman </h2>
    <h2> I am a senior graduating this spring</h2>

    <p> I am a <strong>double major</strong> in <em>Finance and Information Systems</em></p> <!-- This portion gives more information about myself practicing using paragraphs-->
    <p><strong>I love to play sports</strong>, particularly <em>soccer, volleyball, and spikeball</em> </p>

    <p>Some of my hobbies include <!-- These next two blocks list my hobbies and food, practicing usage of ordered and unordered lists -->
    <ul>
        <li>Sports</li>
        <li>Going to the gym</li>
        <li>Cooking</li>
        <li>Hanging out with friends</li>
    </ul>

    <p>My favorite foods in order are
    <ol>
        <li>Sushi</li>
        <li>Korean BBQ</li>
        <li>Pasta</li>
        <li>Steak</li>
    </ol>

    <table>     <!-- This section makes a table with my classes and when I took them to practice coding tables -->
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>

        <tr>
            <th>BMGT 302</th>
            <th>Spring 2023</th>
        </tr>

        <tr>
            <th>BMGT 402</th>
            <th>Fall 2023</th>
        </tr>

        <tr>
            <th>BMGT 407</th>
            <th>Spring 2024</th>
        </tr>
    </table>
          <!-- This section is practice for getting familiar with hyper linking, relative linking, and referencing links to new tabs -->
    <p> A link to my <a href="/hello"> Hello World</a>.</p>
     <p> One of my favorite websites is <a href="https://www.britannica.com/games/octordle/" target="_blank">Octordle</a>.</p>
    <p> Another one of my favorite websites is <a href="https://doghaus.com/location/college-park-biergarten/">DogHaus</a>.</p>
        <!-- This section practices inserting links to images and sizing them appealingly -->
    <p>Here is the Smith School logo</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width = "267" height = "72" alt ="Smith Logo">
</body>
</html>